# Authentication API key for the Bzzoiro Sports Data API (v2)
BZZOIRO_API_KEY=

# Gemini API Key for AI features
GEMINI_API_KEY=

# Allowed Origin for CORS in production Vercel deployment
ALLOWED_ORIGIN=
